{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <h1 id="header" class="text-center">Welcome to <b>Titan AIO</b>!</h1>
    <div id="mainmenu" class="text-center">
        <div class="menuButtons">
            <button id="settingsBtn" class="btn btn-primary" onclick="settingsToggle()">Settings</button>
        </div>

        <div id="settings" class="text-center">
            <p>Here are your saved settings: </p>
            <div id="settingsInput">
                 <form action="/" method="POST">
                    <input type="text" name="content" id="content">
                    <input type="submit" value="Add Task">
                </form>
            </div>
        </div>
        <p></p>
        <div class="menuButtons">
            <button action="/profiles" method="GET" id="profiles" class="text-center btn btn-primary">Profiles</button>
        </div>
        <p></p>
        <div class="menuButtons">
            <button action="/captcha" method="GET" id="captcha" class="text-center btn btn-primary">Captcha</button>
        </div>
    </div>


{% endblock %}