<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>

    <body>
    <h1 id="header" class="text-center">Welcome to <b>Titan AIO</b>!</h1>
    <div id="mainmenu" class="text-center">
        <button id="settingsBtn" class="btn btn-primary">Settings</button>
    </div>

    <div id="settings" class="text-center">
        <div>
            <p>Here are your saved settings: </p>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="main.js"></script>
    </body>

</html>